html, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root{
    --primary-color: #f0ea73;;
    --secondary-color: #000000;
    --accent-color:hwb(240 10% 88% / 0.72);
    --color:#ffff;
    --border-radius:8px;
}


body{
    background-color: var(--secondary-color);
    font-family: 'Nunito', sans-serif;
    color: var(--color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 500px;
    background-color: var(--accent-color);
    margin: 2em;
    border-radius: var(--border-radius);
    text-align: center;
    overflow: hidden;
}
.units-section , .input-section{
    font-size: 1.3em;
}
.input-section{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1em;
    gap: 20px;
}
.input-section h1{
    font-weight: 800;
}
.input-section input{
    font-size: 3rem;
    width:2em;
   background-color: transparent;
   border:solid 1px var(--secondary-color);
   text-align: center;
   border-radius: 3px;
}
.input-section input:focus{
    outline: none;
}

.units-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    gap: 14px;
}
.units-section h5{
    font-weight: 100;
    background-color: var(--accent-color);
    color: var(--color);
    padding: 5px;
    letter-spacing: 0.5em;
}
.units-section div{
    min-width: 100%;
    background-color: var(--secondary-color);
    color:var(--color);
    word-wrap: break-word;
    border-radius: var(--border-radius);
    text-align: center;
    padding: 0.5em;
}
.units-section p{
    padding-top: 20px;
    font-weight: 300;
    font-size: 0.8em;
}
.units-section span{
    color: var(--primary-color);
    font-weight: 800;
    font-size: 1.3em;
}